Repository kubeflow/dashboard, pull requests merged in 2025-07, with the labels that each got.

#110 ci: Migrate kubeflow/kubeflow centraldb_oci_publish.yaml GitHub Ac…
  .github/workflows/central_dashboard_oci_publish.yaml
Labels: lgtm, approved, ok-to-test, size/M

#128 fix: Remove redundant chmod step from workflows
  .github/workflows/central_dashboard_angular_integration_test.yaml
  .github/workflows/central_dashboard_integration_test.yaml
  .github/workflows/end_to_end_integration_test.yaml
  .github/workflows/poddefaults_intergration_test.yaml
  .github/workflows/profiles_kfam_integration_test.yaml
Labels: lgtm, approved, ok-to-test, size/S

#126 fix: Removed use of Inline Yaml in GHA
  .github/workflows/central_dashboard_integration_test.yaml
  .github/workflows/end_to_end_integration_test.yaml
  testing/gh-actions/resources/poddefault-basic.yaml
  testing/gh-actions/resources/poddefault-invalid.yaml
  testing/gh-actions/resources/poddefault-multi-selector.yaml
  testing/gh-actions/resources/poddefault-test-pod-multi.yaml
  testing/gh-actions/resources/poddefault-test-pod.yaml
  testing/gh-actions/resources/profile-dashboard-test.yaml
  testing/gh-actions/resources/profile-simple.yaml
  testing/gh-actions/resources/profile-with-quota.yaml
  testing/gh-actions/test_poddefault.sh
  testing/gh-actions/test_profile.sh
Labels: lgtm, size/L, approved, ok-to-test

#136 fix: build the images of the dependency component and trigger flow by…
  .github/workflows/central_dashboard_angular_integration_test.yaml
  .github/workflows/central_dashboard_integration_test.yaml
  .github/workflows/end_to_end_integration_test.yaml
  .github/workflows/profiles_kfam_integration_test.yaml
Labels: lgtm, size/L, approved, ok-to-test
