Repository kubeflow/dashboard, pull requests merged in 2025-05, with the labels that each got.

#91 ci: add `access-management` tests
  .github/workflows/kfam_multi_arch_test.yaml
Labels: lgtm, approved, ok-to-test, size/M

#90 ci: add `profile-controller` tests
  .github/workflows/prof_controller_multi_arch_test.yaml
  .github/workflows/prof_controller_unit_test.yaml
  .github/workflows/profiles_kfam_integration_test.yaml
Labels: lgtm, size/L, approved, ok-to-test

#93 fix: Fix Istio sidecar injection by moving from annotations to labels
  components/admission-webhook/manifests/base/deployment.yaml
  components/centraldashboard/manifests/base/deployment.yaml
  components/profile-controller/config/manager/manager.yaml
  components/profile-controller/config/overlays/kubeflow/patches/kfam.yaml
Labels: size/XS, lgtm, approved, ok-to-test

#92 fix(dashboard): centraldashboard-angular build with common-lib fetch
  components/centraldashboard-angular/.gitignore
  components/centraldashboard-angular/Dockerfile
  components/centraldashboard-angular/Makefile
  components/centraldashboard-angular/frontend/.gitignore
  components/centraldashboard-angular/frontend/COMMON_LIB_COMMIT
Labels: lgtm, approved, ok-to-test, size/M
